*~
*.*~
*.4ct
*.4tc
*.acn
*.acr
*.alg
*.auto
*.aux
*.bak
*.bbl
*.bcf
*.bit
*.blg
*.dvi
*.fmt
*.glg
*.glo
*.gls
*.idv
*.idx
*.ilg
*.ist
*.ind
*.lg
*.log
*.lol
*.lot
*.nav
*.out
*.pdx
*.pnd
*.sage
*.save
*.scmd
*.slg
*.slo
*.sls
*.snm
*.sout
*.synctex.gz
*.tcp
*.tdo
*.tmp
*.toc
*.tps
*.vrb
*.xml
*.xmpi
*.xref
